@charset "utf-8";
/* CSS Document */
body {
	background-color: #FCFCFC;
}

#titulo {
	font-size: 150%;
	font-weight:bolder; 
	text-align: center;
	padding: 10px; 
	color: #193350;
}

input {
  font-size: 1.5em;
  padding: 0 5px;
  margin: 0;
  background: none;
  border-radius: 25px;
  width: 95%;
  height: 100%;
}


input:focus {
  background: rgba(0,0,0,.1);
  outline: none;
}

#imagenc {
	padding: 0 5px;
    vertical-align: middle;
	height: 30px;
	width: auto;
}

.formulario div{
	margin: 8px auto 0;
	width: 97%;
	text-align: center;	
}

#carrera span{
	font-size: 1.3em;
    font-weight:bold;
	color: #193350;
}

.grande {
  font-size: 1.5em;
  font-weight:bold;
  padding: 0 2px;
  display: inline-block;
  color: #E67E22;
  vertical-align: middle;
}

#guardar
 {
	font-size: 100%;
	font-weight:bold;
	margin: 5px 5px 5px;
	color: #ed1941;	
	border: 2px solid #0181CA;
	border-radius: 25px;	
	text-align: center;
	padding: 5px; 
 }